<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta
      name="description"
      itemprop="about"
      content="{{config.description}}"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">

    <link rel="preload" as="image" href="/img/tinywrenlogo2.png">
    <link rel="preload" as="image" href="/img/tinywrenlogosing2.png">

    <link rel="stylesheet" href="/styles.css" />
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a href="{{ get_url(path='/') | safe }}">
          <div class="logo"></div>

        </a>

        <p class="title">Tiny Wren</p>
        <p class="byline">by Andy Shearer</p>

        <!--
        <p class="view"
          ><a href="https://github.com/semanticdata/project"
            >View the project on GitHub.
            <small>semanticdata/zola-minimal</small></a
          ></p
        >

        <p class="view"
          ><a href="https://github.com/semanticdata/"
            >View my profile on GitHub. <small>semanticdata</small></a
          ></p
        >
        -->

      </header>

      <section> {% block content %} {% endblock content %} </section>

      <footer>
        <!--
        <p><small>
            Powered by <a href="https//www.getzola.org/">Zola</a> &mdash; Themed
            with
            <a href="https://github.com/semanticdata/zola-minimal/">Minimal</a
            >.<br />
            Project maintained by
            <a href="https://miguelpimentel.do">Miguel Pimentel</a>.
          </small></p>
        -->
      </footer>
    </div>
  </body>
</html>
